/*body, html{background-color: white;*/
/*    margin: 0px;*/
/*    padding: 0px;*/
/*}*/

/*.menu{*/
/*    background-color: black;*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 80px;*/
/*    transition: transform 0.2s ease-in-out;*/
/*    margin-left: 0px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-around;*/
/*    z-index: 1;*/
/*}*/

:root {
    --background-color: #e0e0e0;
    --second-color: black;
    --text-color: black;
}


a {
    text-decoration: none;
    color: white;
}

#find_field {
    width: 500px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--background-color);
    border-color: var(--second-color);
}

i.fa-solid.fa-magnifying-glass {
    position: absolute;
    left: 10px;
    font-size: 16px;
    color: #888;
}

label {
    display: flex;
    align-items: center;
    position: relative;
}

#find_field {
    padding-left: 30px;
}

.cart, .location {
    padding: 0px 10px;
}

.upper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.slidere {
    position: relative;
    width: 100%;
    height: 580px;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.slide.active {
    opacity: 1;
}

.slidere img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-text {
    position: absolute;
    bottom: 40%;
    left: 30px;
    color: white;
}

.slide-head {
    font-size: 1rem;
    letter-spacing: 0.4em;
    font-family: Palanquin, sans-serif;
    padding-bottom: 10px;
    margin-left: 3px;
}

.slide-p {
    font-size: 3em;
    font-family: Palanquin Dark, sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.shop-button {
    position: absolute;
    bottom: 28%;
    left: 30px;
    height: 50px;
    width: 100px;
    transition: background-color 0.3s ease-in-out;
    font-family: Palanquin Dark, sans-serif;
    font-weight: bold;
    border: white 0.5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-button:hover {
    background-color: white;
    color: black;
}

.brands {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.ibanez, .fender, .gibson {
    width: 300px;
}

.ibanez-d {
    display: flex;
    align-items: center;
    height: 300px;
}

.jackson {
    width: 400px;
}

.fender, .gibson, .jackson, .ibanez-d {
    padding: 10px;
}

.companies-head {
    font-family: Palanquin Dark, sans-serif;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
    padding: 20px 0px
}

.carousel {
    padding: 30px 0px;
}

.guitars-text {
    font-family: Palanquin Dark, sans-serif;
    font-weight: bolder;
    font-size: 3em;
    text-align: center;
}

.big-line {
    width: 50%;
    height: 2px;
    background-color: black;
    margin: 30px auto;

}

.guitars {
    margin: 10px auto;
    max-width: 1300px;
}

.guitars .guitar{
    height: 500px !important;
}

.guitar {
    width: 200px;
    height: 600px;
}

.stomps .guitar {
    height: 200px;
    width: auto;
}

.model {
    margin: 0 2.5%;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    text-align: left;
    width: 300px;
    height: 200px;
}

.model.invisible {
    display: none;
}

.name {
    padding-top: 50px;
    font-family: Palanquin Dark, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.line {
    width: 100px;
    height: 1px;
    background-color: black;
    margin: 10px 0px;
}

.price {
    font-family: Palanquin Dark, sans-serif;
    font-weight: bold;
    font-size: 1em;
}

.buy {
    margin: 10px 0px;
    width: 100px;
    height: 30px;
    border: 1.5px solid black;
    font-family: Palanquin Dark, sans-serif;
    font-weight: bolder;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

.buy:hover {
    background-color: black;
    color: white;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-left, .button-right {
    height: 50px;
    width: 100px;
    transition: background-color 0.3s ease-in-out;
    font-family: Palanquin Dark, sans-serif;
    font-weight: bold;
    border: black 0.5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 20px;
}

.button-left:hover, .button-right:hover {
    background-color: black;
    color: white;
}

.modal.cart-menu {
    max-width: 800px;
    width: 800px;
    font-family: Palanquin Dark, sans-serif;
    font-weight: bold;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-line {
    height: 1px;
    width: 500px;
    background-color: black;
    margin: 10px 0px;
}

.modal-button {
    height: 50px;
    width: 100px;
    transition: background-color 0.3s ease-in-out;
    font-family: Palanquin Dark, sans-serif;
    font-weight: bold;
    border: black 0.5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button.invisible {
    display: none;
}

.modal-button:hover {
    background-color: black;
    color: white;
}

.pos {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    border-top: 1.5px black solid;
    border-bottom: 1.5px black solid;
    margin: 15px 0px;
}

.pos-left img {
    transform: rotate(90deg);
    width: auto;
    height: 110px;
}

.ava-div {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1.5px black solid;
}

.pos-left {
    display: flex;
    width: 92%;
    border-right: 1.5px black solid;
}

.pos-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding-left: 10px;
}

.pos-delete {
    width: 70px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

.pos-delete:hover {
    background-color: rgb(155, 52, 52);
}

.modal.cart-buy {
    max-width: 800px;
    width: 800px;
    font-family: Palanquin Dark, sans-serif;
    font-weight: bold;
}

.modal.cart-buy .modal-body {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.modal-name, .modal-surname, .modal-email, .modal-number, .modal-address {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

#name, #surname, #email, #address, #number {
    width: 300px;
    height: 20px;
}

.error {
    height: 10px;
    color: red;
    font-family: Palanquin Dark, sans-serif;
    padding: 5px 0px;
    display: flex;
    align-items: center;
}

.modal.search-buy {
    max-width: 800px;
    width: 800px;
    font-family: Palanquin Dark, sans-serif;
    font-weight: bold;
}


.middle {
    display: flex;
    background-color: rgb(49, 49, 49);
    height: 300px;
    align-items: center;
    justify-content: center;
}

.logo-line {
    display: flex;
    height: 70px;
    flex-direction: row;
    align-items: center;
    margin: 20px 20px;
    justify-content: center;
}

.logo {
    width: 14%;
    filter: grayscale(1);
}

.footer-text {
    font-family: Palanquin Dark, sans-serif;
    font-weight: bold;
    font-size: 2em;
    color: white;
}

.down {
    font-family: Palanquin Dark, sans-serif;
    color: white;
    display: flex;
    background-color: black;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.icon {
    display: flex;
    justify-content: center;
}

.icon i {
    padding: 0px 10px;
}


.interface {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    width: 80%;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.filters {
    border: 2px black solid;
    width: 40%;
    height: 100%;
}

.filters-mobile {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #e0e0e0;
    z-index: 101;
    overflow: auto;
    user-select: none;
    top: 0;
    left: 100%; /* Начальное положение за пределами экрана слева */
    transition: left 0.3s ease;
}

.filters-mobile.active {
    left: 0;
}

.filter-options {
    display: none;
    padding-left: 15%;
}

.filter-options.active {
    display: block;
}

.filter-name {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    cursor: pointer;
    padding: 0px 20px;
    font-size: 14pt;
    font-weight: bold;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#filter {
    justify-content: center;
}

.filter-options > ul > li {
    margin-bottom: 5px;
    font-size: 13pt;
}

.filter-head {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0px 20px;
    font-weight: bold;
    border-bottom: 1.5px black solid;
    font-size: 15pt;
}

.filter-options ul li {
    display: flex;
    align-items: center;
}

.filter-options input[type="checkbox"] {
    display: none;
}

.filter-options input[type="checkbox"] + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}

.filter-options input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    background-color: #ffffff;
    border-radius: 0px;
    transition: background-color 0.3s, border-color 0.3s;
}

.filter-options input[type="checkbox"]:checked + label::before {
    background-color: #000;
    border-color: #000000;
}

.mobile-filter-button {
    display: none;
}



.apply-button {
    background-color: forestgreen;
    width: 95%;
    height: 100%;
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
}

.apply-button:hover {
    background-color: #236c23;

}

.clear-button{
    background-color: grey;
    width: 95%;
    height: 100%;
    text-align: center;
    font-size: 13pt;
    font-weight: bold;
}

.product-image {
    width: 15%;
    max-width: 100%;
}

.product-name {
    font-weight: bold;
    font-size: 27pt;
}

.product-price {
    font-weight: bold;
    font-size: 20pt;
}

.product-details {
    width: 70%;
    height: 30%;
}

.image-price-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.add-to-cart {
    background-color: forestgreen;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14pt;
}

.info-container {
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    border: 1px black solid;
    margin: 50px 20px;
    box-shadow: grey 0px 0px 3px;
    justify-content: space-evenly;
    padding-left: 10px;
}

.product-desc{
    width: 100%;
}

.apply-button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin-bottom: 10px;
}

.clear-button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1150px) {
    .menu.sticky {
        transform: none !important;
    }

    .filters {
        display: none !important;
    }

    .filter-options {
        padding-left: 20px;
        margin: 5px 0px;
        font-size: 15px;
    }

    .filter-name {
        border-bottom: 1.5px black solid;
        font-size: 13pt;
    }

    .show-icon {
        font-size: 17pt;
    }

    .filter-sign {
        text-align: center;
        display: inline-block !important;
        flex-grow: 1;
    }

    .close-icon {
        margin-left: auto;
        font-size: 15pt;
    }

    .interface {
        flex-direction: column;
    }

    .mobile-filter-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
        padding: 10px 0px;
        border-top: black 2px solid;
        border-bottom: black 2px solid;
        font-weight: bold;
    }

    .product-details {
        width: 100%;
    }

    .product-image {
        width: 40%;
    }

    .image-price-container {
        flex-direction: column;
    }

    .product-name {
        font-weight: bold;
        font-size: 17pt;
    }

    .product-price {
        font-weight: bold;
        font-size: 15pt;
    }

    .add-to-cart {
    width: 120px;
    height: 40px;
    font-weight: bold;
    font-size: 12pt;
    }

    .info-container {
        height: 180px;
    }

    .info{
        height: 230px;
        width: 200px;
    }

    .apply-button-div {
        position: fixed;
        bottom: 2%;
        width: 100%;
        height: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .clear-button-div{
        position: fixed;
        bottom: 10%;
        width: 100%;
        height: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
