{% load static %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"/>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <title>Project</title>
    <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}">
</head>

<body>


<div class="main_page">

    <!-- Header Starts here -->

    {% include '../includes/inc-main-menu.html' %}

    <!-- Header Ends here -->

    <!-- Page Main Content Starts Here -->

    {% block content %}
        base
    {% endblock %}

    <!-- Page Main Content Ends Here -->

</div>


<footer>
    <div class="middle">
        <div class="cont">
            <div class="big-line"></div>
            <div class="logo-line">
                <img src="{% static 'img/logo.png' %}" class="logo"/>
                <div class="footer-text">BUY YOUR SOUND</div>
            </div>
            <div class="big-line"></div>
            <div class="icon">
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-2xl"
                                                                        style="color: #ffffff;"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook fa-2xl"
                                                                       style="color: #ffffff;"></i></a>
                <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-square-twitter fa-2xl"
                                                                      style="color: #ffffff;"></i></a>
            </div>
        </div>
    </div>
    <div class="down"> Guitar Heaven©2024.All rights reserved</div>
</footer>

<script src="{% static 'js/jq.js' %}"></script>
<script src="{% static 'js/slider.js' %}"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/animation.js' %}"></script>
<script src="{% static 'js/scroll.js' %}"></script>
<script src="{% static 'js/cart.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<script src="{% static 'js/navbar.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>