{% load static %}

<header class="header menu" id="header">
        <nav class="nav container">
            <a href="{% url 'index' %}" class="nav__logo"><img src="{% static 'img/logo.png' %}" class="logo"/></a>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/" class="nav__link">Home</a>
                    </li>

                    <li class="nav__item">
                        <a href="{% url 'products:index' %}" class="nav__link">Shop</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">About Us</a>
                    </li>

                    <li class="nav__item">
                        <a href="#" class="nav__link">Contact Us</a>
                    </li>
                </ul>

                <!-- Close button -->
                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav__actions">

                {% if user.is_authenticated %}
                    {% if basket %}
{#                        <a href="{% url 'basket:index' %}"><i class="ri-shopping-cart-line nav__cart"></i></a>#}
                        <i class="ri-shopping-cart-line nav__cart cart"></i>
                    {% endif %}
                <a href="{% url 'auth:edit' %}"><i class="ri-user-line nav__login" id="login-btn"></i></a>
                <a href="{% url 'auth:logout' %}"><i class="ri-logout-box-r-line nav__logout"></i></a>

                {% else %}
                    <a href="{% url 'auth:login' %}"><i class="ri-user-line nav__login" id="login-btn"></i></a>
                {% endif %}

                <!-- Toggle button !-->
                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line"></i>
                </div>
            </div>
        </nav>
    </header>

{% block js %}
    <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}