{% extends 'layout/base.html' %}
{% load static %}


{% block content %}


<div class="interface">

    <div class="login-form">
            <form id="contact" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <button type="submit" class="btn btn-primary my-4">Log In</button>
                    <a href="{% url 'auth:register' %}"><button type="button" class="btn btn-primary my-4">Register</button></a>
            </form>
    </div>
</div>


{% endblock %}