{% extends 'layout/base.html' %}
{% load static %}


{% block content %}
<!-- Slider Starts Here -->

    <div class="upper">
        <div class="slidere">
            <div class="slide">
                <img src="../static/img/slider2.jpg"/>
                <a href="#">
                    <div class="shop-button">SHOP NOW</div>
                </a>
            </div>
            <div class="slide">
                <img src="../static/img/slider1.jpg"/>
                <div class="slide-text">
                    <div class="slide-head">PRO SERIES</div>
                    <div class="slide-p">
                        SIGNATURE JOSH SMITH
                        <br>
                        SOLOIST™ SL7 ET
                    </div>
                </div>
                <a href="#">
                    <div class="shop-button">SHOP NOW</div>
                </a>
            </div>
        </div>
    </div>

    <!-- Slider Ends Here -->

    <!-- Page Main Content Starts Here -->

    <div class="cont">

        <!-- Featured Items Starts Here -->

        <div class="carousel">
            <div class="guitars-text">CLASSIC VIBES</div>
            <div class="big-line"></div>
            <div class="guitars slider">
                <div class="model">
                    <div class="all">
                        <img class="guitar" src="guitars/les_paul.png"/>
                        <div class="info">
                            <div class="name">Les Paul 70s Deluxe</div>
                            <div class="line"></div>
                            <div class="price">2 807.00 $</div>
                            <div class="buy">Add To Cart</div>
                        </div>
                    </div>
                </div>
                <div class="model">
                    <div class="all">
                        <img class="guitar" src="guitars/telecaster.png"/>
                        <div class="info">
                            <div class="name">VINTAGE II 1951 TELECASTER</div>
                            <div class="line"></div>
                            <div class="price">2 249.99 $</div>
                            <div class="buy">Add To Cart</div>
                        </div>
                    </div>
                </div>
                <div class="model">
                    <div class="all">
                        <img class="guitar" src="guitars/telecater-blue.png"/>
                        <div class="info">
                            <div class="name">AMERICAN ULTRA TELECASTER</div>
                            <div class="line"></div>
                            <div class="price">2 149.99 $</div>
                            <div class="buy">Add To Cart</div>
                        </div>
                    </div>
                </div>
                <div class="model">
                    <div class="all">
                        <img class="guitar" src="guitars/schecter-lespaul.png"/>
                        <div class="info">
                            <div class="name">Solo II Custom LH</div>
                            <div class="line"></div>
                            <div class="price">1 049.00 $</div>
                            <div class="buy">Add To Cart</div>
                        </div>
                    </div>
                </div>
                <div class="model">
                    <div class="all">
                        <img class="guitar" src="guitars/mustang.png "/>
                        <div class="info">
                            <div class="name">VINTERA '60S MUSTANG</div>
                            <div class="line"></div>
                            <div class="price">1 099.99 $</div>
                            <div class="buy">Add To Cart</div>
                        </div>
                    </div>
                </div>
                <div class="model">
                    <div class="all">
                        <img class="guitar" src="guitars/stratocaster.png"/>
                        <div class="info">
                            <div class="name">STRATOCASTER HSS</div>
                            <div class="line"></div>
                            <div class="price">879.99 $</div>
                            <div class="buy">Add To Cart</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <div class="button-left">LEFT</div>
                <div class="button-right">RIGHT</div>
            </div>
        </div>

        <!-- Featured Items Ends Here -->

    </div>

    <!-- Page Main Content Ends Here -->

{% endblock %}
