{% extends 'layout/base.html' %}
{% load static %}


{% block content %}
<!-- Slider Starts Here -->

    <div class="upper">
        <div class="slidere">
            <div class="slide">
                <img src="../static/img/slider2.jpg"/>
                <a href="#">
                    <div class="shop-button">SHOP NOW</div>
                </a>
            </div>
            <div class="slide">
                <img src="../static/img/slider1.jpg"/>
                <div class="slide-text">
                    <div class="slide-head">PRO SERIES</div>
                    <div class="slide-p">
                        SIGNATURE JOSH SMITH
                        <br>
                        SOLOIST™ SL7 ET
                    </div>
                </div>
                <a href="#">
                    <div class="shop-button">SHOP NOW</div>
                </a>
            </div>
        </div>
    </div>

    <!-- Slider Ends Here -->

    <!-- Page Main Content Starts Here -->

    <div class="cont">

        <!-- Featured Items Starts Here -->

        <div class="carousel">
            <div class="guitars-text">Featured</div>
            <div class="big-line"></div>
            <div class="guitars slider">
            {% for prod in prods %}

            <div class="model" id="{{ prod.pk }}">
                <div class="all">
                    {% if prod.image %}
                    <a href="{% url 'products:product' prod.pk %}"><img class="guitar" src="{{ prod.image.url }}" alt="{{ prod.name }}"></a>
                    {% else %}
                    <img class="guitar" src="{% static 'img/jaskson-soloist-orange.png' %}" alt="No Image">
                    {% endif %}

                    <div class="info">
                        <div class="name">{{ prod.name }}</div>
                        <div class="line"></div>
                        <div class="price">{{ prod.price }} $</div>
                    </div>
                </div>
            </div>

            {% endfor %}
            </div>

            <div class="buttons">
                <div class="button-left">LEFT</div>
                <div class="button-right">RIGHT</div>
            </div>
        </div>

        <!-- Featured Items Ends Here -->

    </div>

    <!-- Page Main Content Ends Here -->

{% endblock %}
