{% extends 'layout/base.html' %}
{% load static %}


{% block content %}


<div class="interface">

        <div class="product-details">
            <div class="image-price-container">
                <img src="{% static 'img/jackson-soloist-orange.png' %}" class="product-image"/>
                <div class="info-container">
                    <div class="product-name">PRODUCT NAME</div>
                    <div class="product-price">100.00$</div>
                    <div class="add-to-cart">ADD TO CART</div>
                </div>

            </div>


            <div class="product-desc">PRODUCT DESCR</div>
            <div class="product-info">PRODUCT INFO</div>

        </div>

    </div>


{% endblock %}