{% extends 'layout/base.html' %}
{% load static %}


{% block content %}

<!-- Page Main Content Starts Here -->

    <div class="filters-mobile">
        <form method="POST" id="filterForm">
            {% csrf_token %}
            <div>
                <div class="filter-head">
                    <div class="filter-sign">FILTER</div>
                    <div class="close-icon">
                        <i class="ri-close-line"></i>
                    </div>
                </div>
                <div class="filter-section">
                    <div class="filter-name toggle-button">
                        <p>BRAND</p>
                        <i class="ri-add-line show-icon"></i>
                    </div>
                    <div class="filter-options">
                        <ul>
                            {% for brand in brands %}
                            <li><input type="checkbox" id="brandMobilePk-{{brand.pk}}" name="brandPk-{{ brand.pk }}"><label for="brandMobilePk-{{brand.pk}}">{{ brand }}</label></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="filter-section">
                    <div class="filter-name toggle-button">
                        <p>Type</p>
                        <i class="ri-add-line show-icon"></i>
                    </div>
                    <div class="filter-options">
                        <ul>
                            {% for type in types %}
                            <li><input type="checkbox" id="typeMobilePk-{{type.pk}}" name="typePk-{{ type.pk }}"><label for="typeMobilePk-{{type.pk}}">{{ type }}</label></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="filter-section">
                    <div class="filter-name toggle-button">
                        <p>Color</p>
                        <i class="ri-add-line show-icon"></i>
                    </div>
                    <div class="filter-options">
                        <ul>
                            {% for color in colors %}
                            <li><input type="checkbox" id="colorMobilePk-{{color.pk}}" name="colorPk-{{ color.pk }}"><label for="colorMobilePk-{{color.pk}}">{{ color }}</label></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="filter-section">
                    <div class="filter-name toggle-button">
                        <p>Category</p>
                        <i class="ri-add-line show-icon"></i>
                    </div>
                    <div class="filter-options">
                        <ul>
                            {% for category in categories %}
                            <li><input type="checkbox" id="categoryMobilePk-{{category.pk}}" name="categoryPk-{{ category.pk }}"><label for="categoryPk-{{category.pk}}">{{ category }}</label></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="clear-button-div">
                    <button type="button" class="clear-button" id="mobile-clear-button">CLEAR</button>
                </div>
                <div class="apply-button-div">
                    <button type="button" class="apply-button" id="mobile-apply-button">APPLY</button>
                </div>
            </div>
        </form>
    </div>


    <div class="interface">

        <!-- Products Section Starts Here -->

        <div class="mobile-filter-button">
            FILTER
        </div>

        <div class="filters">
            <form method="POST" id="filterForm">
                {% csrf_token %}
                <div class="filter-head">
                    <div class="filter-sign">FILTER</div>
                    <div class="close-icon">
                    </div>
                </div>
                <div class="filter-section">
                    <div class="filter-name toggle-button">
                        <p>BRAND</p>
                        <i class="ri-add-line show-icon"></i>
                    </div>
                    <div class="filter-options">
                        <ul>
                            {% for brand in brands %}
                            <li><input type="checkbox" id="brandPk-{{brand.pk}}" name="brandPk-{{ brand.pk }}"><label for="brandPk-{{brand.pk}}">{{ brand }}</label></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="filter-section">
                    <div class="filter-name toggle-button">
                        <p>TYPE</p>
                        <i class="ri-add-line show-icon"></i>
                    </div>
                    <div class="filter-options">
                        <ul>
                            {% for type in types %}
                            <li><input type="checkbox" id="typePk-{{type.pk}}" name="typePk-{{ type.pk }}"><label for="typePk-{{type.pk}}">{{ type }}</label></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="filter-section">
                    <div class="filter-name toggle-button">
                        <p>COLOR</p>
                        <i class="ri-add-line show-icon"></i>
                    </div>
                    <div class="filter-options">
                        <ul>
                            {% for color in colors %}
                            <li><input type="checkbox" id="colorPk-{{color.pk}}" name="colorPk-{{ color.pk }}"><label for="colorPk-{{color.pk}}">{{ color }}</label></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="filter-section">
                    <div class="filter-name toggle-button">
                        <p>CATEGORY</p>
                        <i class="ri-add-line show-icon"></i>
                    </div>
                    <div class="filter-options">
                        <ul>
                            {% for category in categories %}
                            <li><input type="checkbox" id="categoryPk-{{category.pk}}" name="categoryPk-{{ category.pk }}"><label for="categoryPk-{{category.pk}}">{{ category }}</label></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="clear-button-div">
                    <button type="button" class="clear-button">CLEAR</button>
                </div>
                <div class="apply-button-div">
                    <button type="button" class="apply-button">APPLY</button>
                </div>
            </form>
        </div>

        <div class="products" id="product-container">

            <!-- Products generate here -->

        </div>
        <!-- Products Section Ends Here -->


    </div>

    <!-- Page Main Content Ends Here -->

{% endblock %}

{% block js %}
    <script src="{% static 'js/filter.js' %}"></script>
    <script src="{% static 'js/generateProducts.js' %}"></script>
{% endblock %}
