{% extends 'layout/base.html' %}
{% load static %}


{% block content %}


<div class="interface">

        <div class="product-details">
            <div class="image-price-container">
                {% if prod.image %}
                    <img src="{{ prod.image.url }}" class="product-image" alt="{{ prod.name }}"/>
                {% else %}
                    <img src="{% static 'img/jackson-soloist-orange.png' %}" class="product-image" alt="{{ prod.name }}"/>
                {% endif %}
                <div class="info-container">
                    <div class="product-name">{{ prod.brand }}</div>
                    <div class="product-name">{{ prod.name }}</div>
                    <div class="product-price">{{ prod.price }} $</div>
                    <div class="add-to-cart">ADD TO CART</div>
                </div>

            </div>


            <div class="product-desc">{{ prod.description }}</div>

        </div>

    </div>


{% endblock %}